<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.interpreter">
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="example"/>
<stringAttribute key="scala.interpreter.seed.script" value=""/>
</launchConfiguration>
